[user]
	name = Anton Demkin
	; email = ademkin@rnd.stcnet.ru
	email = antondemkin@yandex.ru
[alias]
	graph = log --graph --date-order --pretty=format:\"%h %ad %Cgreen%d%Creset %s [%an]\" --date=short --all
[core]
	excludesfile = ~/.gitignore
